@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


.section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
    margin-bottom: 50vh;
}

.Projects_section, .Contact_section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}



.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.about_text {
    position: relative;
    flex: 1;
    left:150px;
    top: 80px;
}
.about_text h2{
    width: fit-content;
    font-size: 64px;
    font-family: 'Source Code Pro', monospace;

}  
.main_img {
    position: relative;
    margin-top:40px;
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    bottom: -100px;
    align-items: center;
    justify-content: center;
    right:300px;

    /* Adjust the margin as needed */
}

.main_img img{
    width: 100%;
    height: 600px;
    border-top-left-radius: 85%;
    box-shadow: 10px 10px 90px #BE6380 ;

}
.text{
    transform: translateY(115px);
    transition: transform .5;
}