
@import url("https://fonts.google.com/specimen/Source+Code+Pro?query=source+");
.Container {
    display: flex;
    /*background-color: #555;*/
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 0 2em;
}

h1{
    font-family: 'Source Code Pro', monospace;

}

.link_containers {
    /* Remove position: absolute; and left: 800px; */
    display: flex;
}

.link {
    color: aliceblue;
    text-decoration: none;
    padding: 2rem;
    margin: 0 5rem;
}

.link > h1:hover {
    color: #AD9BD5;
}

.div_logo {
    position: relative;
    left:-400px; /* Add margin to give space */
}

.logo img {
    max-height: 100%;

}