@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.main {
    display: grid;
    place-items: center;
    align-content: center;
}

.img_o_container {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
.main_header{
    font-size: 50px;
}
.img_container {
    height: 500px;
    width: 500px;
    display: flex;
    margin: 1%;
    height: fit-content;
    justify-content: center; /* Add this line to center horizontally */
    align-items: center; /* Add this line to center vertically */
    width: fit-content;
}
.img_container img {
    width: 33.33%;
    height: 20%;
    border-radius: 15%;
    box-shadow: 0 0 100px 10px #BE6380;
    object-fit: cover;

}
.img_container > img:nth-child(2) {
    transform: translate(2%, -3.5%);
    z-index: 2;

}
.img_container > img:nth-child(1) {
    position: relative;
    transform: translate(4%, -7%);
    transition: bottom 0.2s;
    box-shadow: 0 0 10px 10px 1px #0d3fca;

}

.img_container > img:nth-child(3) {
    position: relative;
    bottom: 15px;
    transition: bottom 0.2s;
    box-shadow: 10px 0px 100px #6F2E58;



}
.img_container > img:hover{
    cursor: pointer;
}
.img_container img:nth-child(1):hover{
    opacity: 1;
    z-index: 3;
    bottom: 30px;

}
.img_container > img:nth-child(3):hover{
    opacity: 1;
    bottom: 40px;
    z-index: 3;
}
.img_container > img:nth-child(2):hover{
    position: relative;
    bottom: 30px;
    z-index: 3;

    

}
.buttons {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    top:-100px;

}
.buttons:hover{
    cursor: pointer;
}

.buttons:nth-child(1):hover{
    background-color: #0d3fca;
}

.description{
   
    position: absolute;
    opacity: 0;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
   
    
   

  
}

.dsc{
    text-transform: capitalize;
    text-align: justify;
    flex-wrap: wrap;
    max-width: 500px;
}
.description h1{
    text-align: left;
    font-size: 45px;
}

.main{
    max-width: max-content;
    height: fit-content;
}